In [ ]:
#Boolean: Comparison value (==)
Two values:( True) & (False)

In [2]:
I_Love_Python = True
print(I_Love_Python)

True

In [7]:
2 == 2

True

In [8]:
2 == 3

False

In [9]:
"Hello" == "hello"

False

In [ ]:
#not equal operator (!=) a.k.a "not equals to"
evaluates to True if the items being compared aren't equal, or False

In [10]:
"Hello" != "hello"

True

In [11]:
2 != 3

True

In [ ]:
#(> and <) greater than & smaller than

In [12]:
7 > 5

True

In [13]:
10 < 10

False

In [ ]:
Note: "too">"to" is true as 3 letters is more than 2 letters.
"sea"<"tea" is true as t comes after s in the alphabetical order.

In [16]:
"ball" > "apple"

True

In [ ]:
Note: b in Ball is greater than a in apple

In [19]:
"apple" < "zebra"

True

In [ ]:
Note: a in apple is smaller than z in zebra

In [25]:
7.0 > 7

False

In [ ]:
Note: none of them are bigger than the other so its False.
    wheather its Float or Integer doesn't matter

In [ ]:
# <= smaller than or equals to.
               & 
  >= greater than or equals to.

In [26]:
7 <= 8

True

In [27]:
7 >=7.0

True

In [28]:
7 <= 6

False

In [ ]:
Example:

In [34]:
a = 4 == 4
b = 3 != 3
c = 8 < 6
d = 5<= 7
print ("a =", a, "\nb =", b, "\nc =", c, "\nd =", d, "\nSum =", a + b + c + d)

a = True
b = False
c = False
d = True
Sum = 2

In [ ]:
*True is 1 and false is O for Mathematical operation*