In [ ]:
#print: should always type small letter(p)

In [1]:
print("Hello World!")

Hello World!

In [ ]:
" "
' '
Note: ("" & '' are String)

In [ ]:
Note: (Last line of a error message indicates the error type)

In [3]:
2 * (3 + 4)

14

In [4]:
10 / 2

5.0

In [ ]:
#FLOAT ( number with decible i.e 1.0, 2.5489, etc)

(Note : a single slash to devide number produces a decimal a.k.a (FLOAT)

In [8]:
 print (2 ** 5)

32

In [ ]:
(**)

(Note: * means Multiply and ** means Raise value to 2 times.
  EX: 2 ** 5
             2*2*2*2*2 = 32

In [ ]:
(//) Floor Division
(%) Modulo Operator a.k.a Remainder

In [9]:
20//6

3

In [10]:
20 % 6

2

In [ ]:
Note: // = ONLY gives you NUMBER OF TIMES and ignores remainder. 
Ex: print(20//6) = 3 

% = Ignores the number of times and ONLY gives you REMAINDER.
Ex: print(20%6) = 2

In [ ]:
Note:
(\n)  to create new line
("""") By adding this you can press the enter key to go 
to the next line without using \n again n again for new line.

In [45]:
print("Hello!\nMy name is Chan\ntoday i started\nlearning Python.")

Hello!
My name is Chan
today i started
learning Python.

In [42]:
print("""Hello! (press enter here)
My name is Chan (press enter here)
today i started (press enter here)
learning Python.""")

Hello!
My name is Chan
today i started
learning Python.

In [ ]:
#Input & Output

In [47]:
a = input("Enter your name:")
print(a)

b = input("Enter your age:")
print(b)

c = input("Enter your current status:")
print(c)

d = input("Enter Are you having fun?:")
print(d)

Enter your name:Chan
Chan
Enter your age:28
28
Enter your current status:Learning Python
Learning Python
Enter Are you having fun?:yes of course
yes of course

In [ ]:
#String ("") & Integer (int)

In [48]:
print("Chan" + "Yadav")

ChanYadav

In [51]:
print("Chan" , "Yadav")

Chan Yadav

In [52]:
print("Chan" + "28" + "age")

Chan28age

In [53]:
print("chan" + 28 + "age")

TypeError: can only concatenate str (not "int") to str

In [ ]:
Note: String + String = result
    String + Integer(number) = error

In [54]:
print("chan" * 3)

chanchanchan

In [ ]:
Note: Strings can also be multiplied by integers

In [55]:
print(3 * "chan")

chanchanchan

In [ ]:
Note: The order of the string and the integer doesn't matter,
    but the string usually comes first

In [58]:
print("5" * 2)

55

In [59]:
print("5" * "2")

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
Note: TypeError: can't multiply string by non-integer of type 'str'

In [ ]:
#int

In [ ]:
Note: you can't add two strings containing the numbers 2 and 3 together
    to produce the integer 5, as the operation will be performed 
    on strings, making the result '23'.

In [60]:
print("2" + "3")

23

In [ ]:
Note:The solution to this is use the (int)function.

In [61]:
print(int("2") + int("3"))

5

In [ ]:
#Variables (=):
to store a value by assigning it to a name, 
which can be used to refer to the value later in the program.

In [66]:
x = 3
print(x)

3

In [69]:
print(x + 4)

7

In [73]:
a = "chan"
b = "is"
c = "learning"
d = "Python."
print(a + " " + b + " " + c + " " + d)

chan is learning Python.

In [ ]:
Note: used (" ") for space otherwise its chanislearningPython.

In [ ]:
#del: use (del) to remove a variable (option 1)

In [77]:
a = 3
print(a)

3

In [78]:
del a
print(a)

NameError: name 'a' is not defined

In [ ]:
#del: or just change the variable (option 2)

In [87]:
a = 3
a = 2
print(a)

2

In [88]:
a = 3
a = 2
a = ("i love python")
print(a)

i love python

In [ ]:
#In-Place Operators:
It allow you to write code like 'x = x + 3' ,as 'x += 3'.
The same thing is possible with other operators 
such as -, *, / and % as well.

In [ ]:
Examples:
x += 3  == x = x + 3
x -= 3  == x = x - 3
x *= 3  == x = x * 3
x /= 3  == x = x / 3
x %= 3  == x = x % 3

In [93]:
x = "chan"
print(x)

chan

In [94]:
x += "do"
print(x)

chando

In [101]:
x = 3
y = 4
print (x + y)

7

In [108]:
x = 10
y = 8
x -= y
print(x)

2

In [110]:
x = 10
y = 8
x *= y
print(x)

80

In [111]:
x = 10
y = 8
x /= y
print(x)

1.25

In [112]:
x = 10
y = 8
x //= y
print(x)

1

In [113]:
x = 10
y = 8
x %= y
print(x)

2

In [ ]:
Practice:(1)

In [114]:
chan = "7"
chan = chan + "0"
python = int(chan) + 3
print(float(python))

73.0

In [ ]:
Practice (2)

In [119]:
word = input("Enter a word:")
print(word + " " + "Python")

Enter a word:Chan loves
Chan loves Python

In [ ]:
Practice (3)

In [121]:
x = 5
y = x + 3
y = int(str(y) + "2")
print(y)

82

In [ ]:
Practice (4)

In [130]:
x = 3
num = 17
print(num % x)

2

In [131]:
print("End of chapter one")

End of chapter one